<section>

  <header class="page-header">
    <h1>
    About page
    </h1>
    
  </header>

  <p>Jungle was established in 2022 with a mission to provide you with the highest quality plants and flowers. We carry a wide range of plants, small and large to bring some life to your home, office, or wherever needs a touch a green.</p>

</section>
